<a href="https://colab.research.google.com/github/vkovelkar/Centos-with-awscli-ssh/blob/main/AdvancedDataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
'''
primitive or basic data types: int, str, float, complex
advanced data types: list, tuple, sets, dictionary
    
Mutable and Immutable data types:
    Immutable: address will change whenever the values get updated - int, str, float, complex, tuple
    Mutable: address cannot change - list, sets, dictionary
'''

x = 10
print(id(x))
x = 20
print(id(x))

y = "hello world"
print("y=",id(y))
y = "hello"
print("y=",id(y))

94626531490592
94626531490912
y= 140577742962480
y= 140577748888688

In [2]:
# Creating a list and printing it

x = [1, 2.4, 'hello world']
print('value of x is', x, type(x))

value of x is [1, 2.4, 'hello world'] <class 'list'>

In [3]:
# Accessing elements in a list

x = [1, 2.4, 'hello world']
print(x[0])
print(x[2])
print(x[-1])
print(x[-3])

1
hello world
hello world
1

In [4]:
# Modifying elements in a list

x = [1, 2.4, 'hello world']
print(x)
print('id of x', id(x))
x[0] = 'string value'
x[2] = 'world'
print(x)
print('id of x', id(x))

[1, 2.4, 'hello world']
id of x 140577681930032
['string value', 2.4, 'world']
id of x 140577681930032

In [5]:
# creating a tuple and printing it
# tuple is a read only list

x = (23, 5, 'hello how are you')
print('value of x is', x, type(x))

value of x is (23, 5, 'hello how are you') <class 'tuple'>

In [6]:
# Accessing elements from a tuple

x = (23, 5, 'hello how are you')

print(x[0])
print(x[2])
print(x[-1])

23
hello how are you
hello how are you

In [7]:
# Modifying elements in a tuple

x = (1, 2.4, 'hello world')
print(x)
print('id of x', id(x))
x[0] = 'string value'
print(x)
print('id of x', id(x))

(1, 2.4, 'hello world')
id of x 140577681903696

TypeError: ignored

In [ ]:
# creating a dictionary and printing it

d = {'name': 'edureka', 'yearFounded': 2011}
d = {'names': ('krishna', 'ravi'),'name': 'edureka'}
#print(d['names'])
#print('value of x is', d, type(d))
print(d['name'])

In [ ]:
y = "krishna"
print(y[2])
y[2]= 'name change'
print(y)
x = [1,2,"krishna"]
x[0] = 100
x[1] =224242
x[2] ="afasf"
print(x)

In [ ]:
# accessing elements from a dictionary
# elements in dictionary are accessed using key 

print(d['name'])
print(d['yearFounded'])

In [ ]:
# Modifying elements in a dictionary

d = {'name': 'edureka', 'yearFounded': 2011}
print('value of dictionary d', d)
print('id of dictionary d', id(d))
d['name'] = 'edureka training'
print('value of dictionary d', d)
print('id of dictionary d', id(d))

In [ ]:
# creating a set and printing it
# We can add elements and remove from set but cannot update once it is created

s = {1, 2, 3, 4, 5, 1, 2}
print('value of x is', s, type(s))

In [ ]:
# Accessing elements from a set
# we do not have any indexing to accessing elements from set
# but the key purpose of set is to identify unique elements and other related operations

s = {1, 2, 3, 4, 5, 1, 2}
print('set value is', s)
print(s.pop())
s.add('krishna')
print('set value is', s)

x = [10, 20, 10, 30, 40, 20, 30]
print(list(set(x)))

help(set.pop)