<a href="https://colab.research.google.com/github/vkovelkar/Centos-with-awscli-ssh/blob/main/BasicDataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

x = 1 + 3j
y = 2 + 4j

print(x+y)

(3+7j)

In [2]:
'''"xyza"
1
2.434
3 + 4j'''

x = 3 + 4j
x =10.000
X = 100
print(X)

100

In [3]:
''' def stands for definiing a function
main just represents an entry point to your code
: represents code block '''

# strings are collection of some characters
# you can use single quotes or double quotes or triple quotes
# 'hello world'
# "hello world"
# '''hello world'''
# """hello world"""

def main():
    print ("hi hello world")
    
main()

hi hello world

In [4]:
# To get object reference of a particular variable you can use id function 

x = 10
y = 20
print('Object reference address: ', id(x))
print('Object reference address: ', id(y))

Object reference address:  94562185730848
Object reference address:  94562185731168

In [5]:
# To get data type of a variable or value we can use type function

x = 10
print('Type of variable x is ', type(x))
print('Type of value 10 is ', type(10))

x = 9.45
print('Type of variable x is ', type(x))
print('Type of valeu 9.45 is ', type(9.45))

x = 'edureka class'
print('Type of variable x is ', type(x))
print('Type of string "edureka class" is', type("edureka class"))

x = 1 + 10j
print('Type of variable x is',  type(x))
print('Type of value 1+10j is ', type(1+10j))

Type of variable x is  <class 'int'>
Type of value 10 is  <class 'int'>
Type of variable x is  <class 'float'>
Type of valeu 9.45 is  <class 'float'>
Type of variable x is  <class 'str'>
Type of string "edureka class" is <class 'str'>
Type of variable x is <class 'complex'>
Type of value 1+10j is  <class 'complex'>

In [6]:
'''To verify if a particular data item is an instance or child of a data type like int, str, float 
   we can use isinstance method'''

x =100
print('checking for x and 10 value')
print(isinstance(x, int)) # verifies if variable x containing value 10 is child of integer data type
print(isinstance(10, int)) # you can provide value directly

y = 94.242
print('checking for y and 94.242 value')
print(isinstance(y, float)) # verifies if variable y containing value 94.242 is child of float data type
print(isinstance(94.242, float)) # you can provide value directly

z = 'hello world'
print('checking for z and "hello world" value')
print(isinstance(z, str)) # verifies if variable z containing value "hello world" is child of str data type
print(isinstance('hello world', str)) # you can provide value directly

# isinstance method will generate false value when you use it on a wrong data type
print(isinstance(10, float))
print(isinstance('hello world', int))

checking for x and 10 value
True
True
checking for y and 94.242 value
True
True
checking for z and "hello world" value
True
True
False
False

In [7]:
""" Whenever you assign a value to a variable Python creates a new most except in some cases
    Below are some examples """

x = 10
print('x value and object id is', (x, id(x)))

x = 20
print('x value and object id is', (x, id(x)))

x value and object id is (10, 94562185730848)
x value and object id is (20, 94562185731168)

In [8]:
# Numbers can also be represented in binary, octal and hexadecimal
x = 10

print(bin(x))
print(oct(x))
print(hex(x))

0b1010
0o12
0xa

In [9]:
''' Any set of characters embedded inside single quotes or double quotes
or triple single quotes or triple double quotes is considered as string '''

x = 'hello world'
print('x value is and type is',x, type(x))

x = "hello world"
print('x value is and type is',x, type(x))

x = '''hello world how
are you where are you'''
print('x value is and type is',x, type(x))

x = """hello world how
are you where are you"""

print('x value is and type is',x, type(x))

x value is and type is hello world <class 'str'>
x value is and type is hello world <class 'str'>
x value is and type is hello world how
are you where are you <class 'str'>
x value is and type is hello world how
are you where are you <class 'str'>