<a href="https://colab.research.google.com/github/vkovelkar/Centos-with-awscli-ssh/blob/main/Control_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Conditional Statements (if, if-else, if-elif, if-elif-else, nested if)

In [1]:
x=input('Enter a number')
y=input('Enter another number')
z=10
value= (x*y)+z
print(value, type(value))

Enter a number10
Enter another number20

TypeError: ignored

In [3]:
i=50
if (i != 60):
  print("Check the value of i :",i)
print("Byee")

Check the value of i : 50
Byee

In [4]:
for x in range(1,8):
  for y in range(1,9):
    print('%d * %d = %d' % (x,y,x*y) )

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56

In [ ]:
# if condition
'''
    if condition:
        statement1
        statement2
    else:
        statement1
        statement2
        
'''

x = 10
if x > 50:
    print('x value is greater than 5')

In [ ]:


# Example 1 :

x=1
if(x>=5):
    print('Welcome to Python Programming')
    x=x+1
else:
    print('looks like x is not >= 5')
    
print('The value of x is:',x)

looks like x is not >= 5
The value of x is: 1

In [ ]:
x = 0

if x > 0:
    print('positive number')
else:
    if x < 0:
        print('negative number')
    else:
        print('Zero number')

Zero number

In [ ]:
# Example 2:

var1=100
var2=15
if(var1>=var2):
    if((var1-var2)%2==0):
        print('Welcome to Edureka')
    else:
        print('Hello Edureka')
else:
    if((var2-var1)%2==0):
        print('Welcome to Python')
    else:
        print('Hello Python')

Hello Edureka

In [ ]:
'''
    if condition:
        statement1
        statement2
    elif condition:
        statement1
        statement2
    elif condition:
        statement1
        statement2
    else: # optional
        statement1
        statement2
'''

# Example 3:
a=10
b=15.0
c=a+b
print(c)
c = 1 + 2j
print(type(c))

if(type(c) is int):
    print('It is an integer')
elif(type(c) is float):        #Line1
    print('It is a float')
elif(type(c) is str):        #Line2
    print('Yes, it is a string')
else:
    print('The datatype of c is:', type(c))

25.0
<class 'complex'>
The datatype of c is: <class 'complex'>

In [ ]:
##Please note that, here in above both the condition mentioned in Line1 and Line2 are valid. But, once one condition is 
##satisfied,it won't check any further condition and it comes out of the flow.
## And also remember that else is not a mandatory block to be written.

## Iteration Control Structure/Loops ( while, for, for-else, usage of continue, break, pass statements

In [ ]:
# while loop syntax
'''
    while condition:
        statement1
        statement2
        ......
'''

# Example 4
x='hello'
y=5

while type(x) is str:
    print('hi')
    y+=1 # y = y + 1
    if(y>9):
        x=y
print('******End******')

hi
hi
hi
hi
hi
******End******

In [ ]:
# range operator
# syntax: range(start, stop, step)
# start value by default is 0, 
# stop value by default is length of data object and the stop value is excluded,
# step value by default is 1

print(list(range(0, 10, 2)))
print(range(0, 10, 2))

print(list(range(2, 10, 2)))

print(list(range(10))) # range(0, 10,1)

print(list(range(2, 10))) # range(2, 10,1)

print(list(range (5,2,-1)))

[0, 2, 4, 6, 8]
range(0, 10, 2)
[2, 4, 6, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[5, 4, 3]

In [ ]:
# for loop syntax
'''
    for variable in iterator:
        statement1
        statement2
        ....
        
where iterator could be list, tuple, sets, dict, strings, range operator, files
'''
x = [1,2,3]
for i in x: 
    print(i)
    

t = (1,2,3)
for i in t:
    print(i)

s = {10, 20, 30}
for i in s:
    print(i)
    
d = {'name': 'hari', 'age':36, 'salary': 50000}
for i in d:
    print(i, d[i]) # 'name', d['name']

1
2
3
1
2
3
10
20
30
name hari
age 36
salary 50000

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Example 5

for i in range(1,5):  # [1,2,3,4]
    print(i)
    for j in range(i,i+2): # range(2, 4) => [2,3]
        if((i+j)%2==0):
            print('Hello')
        else:
            continue
            print('hello world')

1
Hello
2
Hello
3
Hello
4
Hello

In [ ]:
# Example 6

for i in range (5,1,-1): # [5, 4,3,2]
    j=i
    while(j==i):
        print('hi', i*j)
        i=i+1
    if(i+j)>10:
        continue
    print(i**2)
else:
    print('For loop execution is successful')

hi 25
hi 16
25
hi 9
16
hi 4
9
For loop execution is successful

In [ ]:
n = 7

is_not_prime = False
for i in range(2, n):
    if n % i == 0:
        is_not_prime = True
        
if is_not_prime:
    print('%d is not a prime number'% n)
else:
    print('%d is a prime number' % n)

7 is a prime number

In [ ]:
n = 99

for i in range(2, n):
    if n % i == 0:
        print('%d is not a prime number' % n)
        break
else: # will execute when the break statement inside for loop never executes
    print('%d is a prime number' % n)

99 is not a prime number

In [ ]:
# Example 7

for var1 in range(1,5): # [1,2,3,4]
    # var1 = 1
    # range(var1+1,5) => range(2,5) => [2,3,4]
    # var1 = 2
    # range(var1+1,5) => range(3,5) => [3,4]
    for var2 in range(var1+1,5): # range(1+1, 5) => range(2, 5) => [2,3,4]
        if (var1+var2)%2==0:
            print('hi')
            # Break the inner loop
            break
    else:
        # Continue the outer loop if the inner loop wasn't broken
        continue
    print('hello')
    # Inner loop was broken, now break the outer loop as well.
    break

hi
hello

In [ ]:
i = 1
while i <= 5:
    print(i)
    i += 1 # i = i + 1

1
2
3
4
5

In [ ]:
if 10 > 2:
    print('hello')

print('out of code block')

hello
out of code block

In [ ]:
x = 10
while hex(x) < 0xa:
    print('hexadecimal checkin')

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
x = [1, 3.43, 'edureka']
for i in x:
    print(i)

1
3.43
edureka

In [ ]:
for j in range(1,5): # [1,2,3,4]
    print('j value each time', j)
    if j == 3:
        break
    print('j value one more time', j)

j value each time 1
j value one more time 1
j value each time 2
j value one more time 2
j value each time 3

In [ ]:
for i in range(1,3): # [1,2]
    for j in range(1, 2): # [1]
        print(i, j)
        pass

1 1
2 1

In [ ]:
print(len('abc'))

3

In [ ]:
x= [ 1,2,3,4,5]
print(len(x))

5

In [ ]:
x = '123'
print(float(x))

123.0

In [ ]:
x = "hello world how are you"

y = x.split()
print(y)
y.sort()
y

['hello', 'world', 'how', 'are', 'you']
['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

['are', 'hello', 'how', 'world', 'you']

In [ ]:
help(str.split)

Help on method_descriptor:

split(self, /, sep=None, maxsplit=-1)
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

In [ ]:
for i in "1111":
    print(i)

1
1
1
1

In [ ]:
for i in range(1001,3000):
    is_not_odd = True
    for j in str(i):
        n = int(j)
        if n % 2 == 0: 
            is_not_odd = False
    if is_not_odd:
        print(i)

1111
1113
1115
1117
1119
1131
1133
1135
1137
1139
1151
1153
1155
1157
1159
1171
1173
1175
1177
1179
1191
1193
1195
1197
1199
1311
1313
1315
1317
1319
1331
1333
1335
1337
1339
1351
1353
1355
1357
1359
1371
1373
1375
1377
1379
1391
1393
1395
1397
1399
1511
1513
1515
1517
1519
1531
1533
1535
1537
1539
1551
1553
1555
1557
1559
1571
1573
1575
1577
1579
1591
1593
1595
1597
1599
1711
1713
1715
1717
1719
1731
1733
1735
1737
1739
1751
1753
1755
1757
1759
1771
1773
1775
1777
1779
1791
1793
1795
1797
1799
1911
1913
1915
1917
1919
1931
1933
1935
1937
1939
1951
1953
1955
1957
1959
1971
1973
1975
1977
1979
1991
1993
1995
1997
1999

In [ ]:
for i in range(1001,3000):
    for j in str(i):
        n = int(j)
        if n % 2 == 0: 
            break
    else:
        print(i)

1111
1113
1115
1117
1119
1131
1133
1135
1137
1139
1151
1153
1155
1157
1159
1171
1173
1175
1177
1179
1191
1193
1195
1197
1199
1311
1313
1315
1317
1319
1331
1333
1335
1337
1339
1351
1353
1355
1357
1359
1371
1373
1375
1377
1379
1391
1393
1395
1397
1399
1511
1513
1515
1517
1519
1531
1533
1535
1537
1539
1551
1553
1555
1557
1559
1571
1573
1575
1577
1579
1591
1593
1595
1597
1599
1711
1713
1715
1717
1719
1731
1733
1735
1737
1739
1751
1753
1755
1757
1759
1771
1773
1775
1777
1779
1791
1793
1795
1797
1799
1911
1913
1915
1917
1919
1931
1933
1935
1937
1939
1951
1953
1955
1957
1959
1971
1973
1975
1977
1979
1991
1993
1995
1997
1999

In [ ]:
x = {'q1': 'https://hello.com', 'q2': 'https://blo.com'}

if 'q1' in x:
    print(x['q1'])

https://hello.com