<a href="https://colab.research.google.com/github/vkovelkar/Centos-with-awscli-ssh/blob/main/Mutabledatatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
subjects = ["vmware","dell","Acenture"]
print(subjects[::]) # defining and printing lists

['vmware', 'dell', 'Acenture']

In [ ]:
# Practicle 
num = int(input("Enter a number: "))
mod = num % 2
if mod > 0:
    print("This is an odd number.")
else:
    print("This is an even number.")

Enter a number: 23
This is an odd number.

In [ ]:
# take input from the user
my_string = input("Enter a string: ")
 
# breakdown the string into a list of words
words = my_string.split()
 
# sort the list
words.sort()
 
# display the sorted words
for word in words:
   print(word)

Enter a string: this is my python program for word sort
for
is
my
program
python
sort
this
word

In [ ]:
lst = [str(i) for i in range(1000,3001)]
lst = list(filter(lambda i:all(ord(j)%2 == 0 for j in i),lst ))   # using lambda to define function inside filter function
print(",".join(lst))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

In [ ]:
values = []
for i in range(1000, 3001):
    s = str(i)
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0) and (int(s[3])%2==0):
        values.append(s)
print (",".join(values))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

In [ ]:
s = input("Input a string")
d=l=0
for a in s:
    if a.isdigit():
        d=d+1
    elif a.isalpha():
        l=l+1
    else:
        pass
print("Letters", l)
print("Digits", d)

Input a stringravi777
Letters 4
Digits 3

In [ ]:
n=int(input("Enter number:"))
temp=n
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
if(temp==rev):
    print("The number is a palindrome!")
else:
    print("The number isn't a palindrome!")

Enter number:898
The number is a palindrome!

In [ ]:
n=int(input("Enter number:"))
temp=n
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
if(temp==rev):
    print("The number is a palindrome!")
else:
    print("The number isn't a palindrome!")

Enter number:676
The number is a palindrome!

In [15]:
lst = [1,2,3,4,5]
print('Orginal ID of the list--->',id(lst))
lst.append(6)
print(lst)

Orginal ID of the list---> 140066406629120
[1, 2, 3, 4, 5, 6]

In [16]:
x=10
y=20.34
z=3+3j

#type
print(type(x))
print(type(y))
print(type(z))

#check instance
print(isinstance(y,int))
print(isinstance(x,float))
print(isinstance(z,float))
print(isinstance(z,complex))

<class 'int'>
<class 'float'>
<class 'complex'>
False
False
False
True