<a href="https://colab.research.google.com/github/vkovelkar/Centos-with-awscli-ssh/blob/main/Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Arithmetic operators in python - performs arithmetic operations
# +, -, *, /, //, %, **

x = 10
y = 3

print('Addition operation', x + y)
print('Subtraction operation', x - y)
print('Multiplication operation', x * y)
print('Division operation', x / y)
# %d for integer, %f for float, %s for string
# %5d, %.4f, %3.2f
print('Division operation rounded to 5 digits: %.5f'% (x/y))
print('Integer division or float truncate operation', x // y)
print('Exponentiation operator', x ** y)
print('Remainder or modulus operator', x % y)

Addition operation 13
Subtraction operation 7
Multiplication operation 30
Division operation 3.3333333333333335
Division operation rounded to 5 digits: 3.33333
Integer division or float truncate operation 3
Exponentiation operator 1000
Remainder or modulus operator 1

In [ ]:
# Special arithmetic operators
# +, * 

x = 'hello'
y = 'world'
print('Merging two strings', x + y)

x = 'hi'
print('Repetition operator', x * 3)
print('Repetition operator', 3 * x)
print('symbol repetition', '*' * 10)

Merging two strings helloworld
Repetition operator hihihi
Repetition operator hihihi
symbol repetition **********

In [ ]:
# Assignment operators - Assigns a value to variable

x = 10 # = operator assigns value 10 to x
print(x)


# python does not have shortcut operators like prefix and postfix in c where they increment with one value
# but it has some shortcut operators
x = x + 1 # can be written as x+= 1 
x = x* 1 # x*=1

print(x)
x = 10
x += 1 
print(x)

x = 10
x -= 1 # equivalent to x = x - 1
print(x)
x *= 5 # equivalent to x = x* 5
print(x)
x /= 5 # equivalent to x = x / 5
print(x)

10
11
11
9
45
9.0

In [ ]:
# comparision operators - compares two values and generates true or false value
# >, <, >=, <=, ==, !=

x = 10
y = 20
print(x > y)
print(x < y)
print(x >= y) # x > y or x == y
print(x <= y) # x < y or x == y 
print(x == y)
print(x != y)

False
True
False
True
False
True

In [ ]:
# Logical operators - helps to combine multiple conditions and yields true or false value
# and, or, not
# &&, ||, !

x = 100
y = 20
print(x > y and x > 5)
print(x > y and x > 1000)

print(x > y or x > 5)
print(x > y or x > 1000)

print(x > 1000)
print(not x > 1000)

True
False
True
True
False
True

In [ ]:
# bitwise operators - performs operation at bit level 
# &, |, <<, >>, ~, ^

x = 2 # binary value is 10
#print(bin(x))
y = 3 # binary value is 11

01

print(x & y) # will do logical add operation
print(x | y) # will do logical or operation
print(x << 1) # will do left shift 1 bit # 100 
print(x >> 1) # will do right shift 1 bit # 001

x = 11
print(x >> 1)

0b10
2
3
4
1
5

In [ ]:
# membership operators - checks whether an elements is part of a data structure 
# in, not in

string = 'hello world'
print('d' in string)

list_var = [1,2,3]
print(1 in list_var)

tuple_var = (1,2,'hello')
print('hello' in tuple_var)

print('dictionary checking')
dict_var = {'name': 'hari', 'age': 36}
print('age' in dict_var)
print('hari' in dict_var)

print('hari' in dict_var)
# not in is a negation of in operator
print('year' in dict_var)
print('year' not in dict_var)

True
True
True
dictionary checking
True
False
False
False
True

In [ ]:
# Identity operators - Verifies if two object reference ids are equal
# is, is not

x = 10
y = x

print(id(x), id(y))
print(x is y) # id(x) == id(y)
print(id(x) == id(y))

x = 10
y = 20
print(id(x), id(y))
print(x is y)
print(x is not y)

x = 10
y = 10
print(x is y)
print(id(x), id(y))

4395808160 4395808160
True
True
4395808160 4395808480
False
True
True
4395808160 4395808160

In [ ]:
x = 'hi'
y = 'hi'
print(x, y)

hi hi

In [ ]:
x = {10, 20, 30}
print(x)
print(x.pop())
print(x)

{10, 20, 30}
10
{20, 30}

In [ ]:
x = {'name': 'hello', 1: 2}
y = list(x)
print(y)

['name', 1]

In [ ]:
x = [1,2,3,4,1,1,1,1]
print(len(x))
y = set(x)
print(y)
print(len(y))

8
{1, 2, 3, 4}
4

In [ ]:
print('hello world', (1,2))

hello world (1, 2)

In [ ]:
x = [1,2,3]
y = 1,2,3 # (1,2,3)
z = {1: 2, 3: 4}
a = {1, 2}